.headerimage{
  max-height: 400px;
  float: left;
}

h1{
  font-size: 100px;
  color: #ff5900;
  font-family: cursive;
  padding-top: 100px;
  margin: 0
}
.clear {
  clear: both;
}

#TenD{

  position: absolute;
  top: 400px;
  left: 200px;
  font-size: 200px;
  font-weight: 800;
  z-index: 1;
  font-family: fantasy;
  color: #3ad4d4;
  opacity: 0.7;
}


.icon{
  max-width: 50px;

  margin-left: 200px;
  position: relative;
}

.column1{
  width: 150px;
  height: 100px;
  position: relative;
  display: inline-block;
  float: left;
}

.column2{
  width: 200px;
  height: 100px;
  display: inline-block;
  float: left;
}

.column3{
  width: 700px;
  height: 200px;
  display: inline-block;
  float: left;
}

.sad{
  width: 150px;
  height: 100px;
}

p{
  max-width: 800px;
}

/* brown = #afsc30 orange = #ff6919  red = #ff5900 */
