.headerimage{
  max-height: 400px;
  float: left;
}

h1{
  font-size: 100px;
  color: #ff5900;
  font-family: cursive;
  padding-top: 100px;
  margin: 0
}
.clear {
  clear: both;
}
.icon{
  max-width: 50px;

  margin-left: 100px;
  position: relative;
}

.column1{
  width: 150px;
  height: 100px;
  position: relative;
  display: inline-block;
  float: left;
}

.column2{
  width: 200px;
  height: 100px;
  display: inline-block;
  float: left;
}


.sad{
  width: 150px;
  height: 100px;
}

/* brown = #afsc30 orange = #ff6919  red = #ff5900 */
